// basic configuration
@font-family: 'gordita', Helvetica, Arial, Verdana, sans-serif;
@font-family-medium: 'gorditamedium', Helvetica, Arial, Verdana, sans-serif;

@font-family-serif: 'atiza_textregular', Georgia, serif;
@font-family-serif-italic: 'atiza_textitalic', Georgia, serif;
@condensed-font-family: "gordita", Helvetica, Arial, Verdana, sans-serif;

@bg-color: #222222; // background color of canvas poster
@text-color: #fff; // color of text on canvas
@secondary-color: #323232;

@quote-mark-path: url('../img/Quote_on_Black@2x.png');
@quote-width: 39px;
@quote-height: 36px;

@logo-path: url('../img/A_on_Black@2x.png');
@logo-width: 51px * 1.1;
@logo-height: 45px * 1.1;

@padding: 22px;
@base-font-size: 18px;
@line-height-base: 20/14;
@line-height: floor(@base-font-size * @line-height-base);

// quotable
@credit-color: #999;
@credit-margin: 5px;

@quote-begin-symbol: "\201C";
@quote-end-symbol: "\201D";
@quote-mark-margin: -0.55em;
@quote-font-weight: bold;

// factlist
@bullet-symbol: '\2022';
@bullet-margin: 0.2em;

@list-text-indent: -0.7em;
@list-margin-left: -0.4em;
@list-margin-bottom: 0.3em;

@timestamp-margin: 5px;
@timestamp-color: #999;
@timestamp-timezone: " ET";


// themes
//blue
@theme2-bg-color: #008dc8;
@theme2-secondary-color: #175B87;
@theme2-logo-path: url('../img/A_on_Blue@2x.png');
@theme2-quote-mark-path: url('../img/Quote_on_Blue@2x.png');

//navy
@theme3-bg-color: #01356E;
@theme3-secondary-color: #175B87;
@theme3-logo-path: url('../img/A_on_Navy@2x.png');
@theme3-quote-mark-path: url('../img/Quote_on_Navy@2x.png');

//navy
@theme4-bg-color: #E74E29;
@theme4-secondary-color: #AB361A;
@theme4-logo-path: url('../img/A_on_Red@2x.png');
@theme4-quote-mark-path: url('../img/Quote_on_Red@2x.png');

//navy
@theme5-bg-color: #FF6602;
@theme5-secondary-color: #CA5508;
@theme5-logo-path: url('../img/A_on_Orange@2x.png');
@theme5-quote-mark-path: url('../img/Quote_on_Orange@2x.png');

//khaki
@theme6-bg-color: #B09D86;
@theme6-secondary-color: #7F684E;
@theme6-logo-path: url('../img/A_on_Khaki@2x.png');
@theme6-quote-mark-path: url('../img/Quote_on_Khaki@2x.png');

//purple
@theme7-bg-color: #5827AE;
@theme7-secondary-color: #310F6B;
@theme7-logo-path: url('../img/A_on_Purple@2x.png');
@theme7-quote-mark-path: url('../img/Quote_on_Purple@2x.png');
